if page.posts.length > 0
    .archive-posts
        - var temp = ''
        each post,index in page.posts.sort('date', -1).toArray()
            - var year = date(post.date).substr(0,4)
            - if(year !== temp){
            -   temp = year
                if !is_year()
                    a.timeline_left.archive-item-year(href=config.root + 'archives/' + year)
                        .archive-content
                            span= year
            - }
            if index % 2
                a.timeline_left.archive-item(href=config.root + post.path)
                    .archive-content
                        span= post.title
                        span= date(post.date, date_format)
            else
                a.timeline_right.archive-item(href=config.root + post.path)
                    .archive-content
                        span= post.title
                        span= date(post.date, date_format)
