section.hero.is-info.is-medium
    .hero-head
        nav.navbar.is-fixed-top.is-info
            .container
                .navbar-brand
                    a.navbar-item
                        img(src='https://bulma.io/images/bulma-type-white.png')
                    span.navbar-burger.burger(data-target='navbarMenuHeroA')
                        span
                        span
                        span
                #navbarMenuHeroA.navbar-menu
                    .navbar-end
                        a.navbar-item.is-active= 'Home'
                        a.navbar-item= 'Examples'
                        a.navbar-item= 'Documentation'
                        span.navbar-item
                            a.button.is-info.is-inverted
                                span.icon
                                    i.fab.fa-github
                                span= 'Download'
    .hero-body
        .container.has-text-centered
            h1.title= 'Title'
            h2.subtitle= 'Subtitle'
    .hero-foot
        nav.tabs
            .container
                ul
                    li.is-active
                        a= 'Overview'
                    li
                        a= 'Modifiers'
                    li
                        a= 'Grid'
                    li
                        a= 'Elements'
                    li
                        a= 'Components'
                    li
                        a= 'Layout'