- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html.has-navbar-fixed-top.wrraper(lang=config.language)
    head
        meta(charset='UTF-8')
        title= pageTitle
        //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css')
        //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(defer, src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
        if theme.stylesheets !== undefined && theme.stylesheets.length > 0
        each url in theme.stylesheets
            link(rel='stylesheet', href=url)
        link(rel="icon", href=config.root + 'img/favicon.png')
    body
        include hexo-banner.pug
        #content-outer
            #content-inner
                if body
                    div!= body
                else
                    block content
        #bottom-outer
            include footer.pug
        if theme.scripts !== undefined && theme.scripts.length > 0
            //- scripts list from config.yml
            each url in theme.scripts
                script(src=url)
