- var pageTitle = page.title || config.title || '欢迎来到我的个人blog'
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year

- var title = page.title
- if (is_home()) title = config.title || '欢迎来到的我的个人blog'
- if (is_archive()) title = 'Archives'
- if (is_year()) title += ':' + page.year
- if (is_tag()) title = 'Tag:' + page.tag
- if (is_category()) title = 'Category:' + page.category
- if (is_post()) title = page.title

- var subTitle = ''
- if (is_home()) subTitle = config.subtitle
- if (is_post()) subTitle = date(page.date || page.updated)


doctype html
html.has-navbar-fixed-top(lang=config.language)
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black')
        title= pakgeTitle
        script(defer, src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
        if theme.stylesheets !== undefined && theme.stylesheets.length > 0
        each url in theme.stylesheets
            link(rel='stylesheet' type="text/css", href=url)
        link(rel="icon", href=config.root + 'img/favicon.png')
    body
        include hexo-banner.pug
        #content-outer
            #content-inner
                if body
                    div!= body
                else
                    block content
        #bottom-outer
            include footer.pug
        if theme.scripts !== undefined && theme.scripts.length > 0
            //- scripts list from config.yml
            each url in theme.scripts
                script(src=url)

        script.
            hljs.initHighlightingOnLoad();