
if page.posts.length > 0
  #list-posts
    each post in page.posts.sort('date', -1).limit(10).toArray()
        a.post-item(href=config.root + post.path)
            div
                if post.excerpt
                    span.post-item-title= post.title
                    span.post-item-excerpt= post.excerpt.replace('<p>','')
                    span.post-item-date= date(post.date, date_format)
                else
                    span.post-item-title= post.title
                    span.post-item-excerpt= truncate(strip_html(post.content), { length: 150, omission: ' ...' }).replace('<p>','')
                    span.post-item-date= date(post.date, date_format)


